:root {
  --normal-black: #000;
  --normal-white: #FFF;
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --scottish-purple: #871F78;
  --scottish-water: #004b84;
  --scottish-loch: #6693b5;
  --scottish-glen: #99b7ce;
  --scottish-sky:#ccdbe6;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --JavaScript-yellow: #F5D733;
  --elegantGrey: #3e3e3e;
  --lightGrey: #4d4d4f;
  --navy-blue: rgb(0, 22, 51);
  --lime-green: rgb(166, 207, 66);
  --midnight-blue: #191970;
  --forest-green: #228B22;
  --whole-foods-green: #00674b;
  --recycling-green: #009900;
  --pine-green: #01796F;
  --cognac-brown: #834333;
  --pine-gold: #dab970;
  --linen-white: #E9DCC9;
  --olive-green: #808000;
  --dark-green: #006400;
  --pizza-red: #D62828;
  --pizza-yellow: #F7C531;
  --pizza-green: #3A5A40;
  --pizza-beige: #F4E1C1;
  --pizza-dark: #2E2E2E;
  --elegant-black: #181818;
  --smart-grey: #eeeae7;
  --smart-white: #eeeeec;
  --wolf-orange: #e06c19;
  --sword-red: #ff0036;
  --footer-grey: #595959;
  --licorice-black: #1B1212;
  --tricsy-grey:#595959;
  --tricsy-gold: #e6c300;
  --tricsy-navy: #133854;
  --tricsy-alabaster: #EDEADE;
  --tricsy-new-century-gold: #866D4B;
}

/* DEFAULT CLASSES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: var(--normal-black);
  color: var(--normal-white);
  position: relative;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 2em;
}

ul.list-of-jobs {
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul.list-of-jobs li {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

button.up {
  background-color: navy;
  color: darkred;
  width: 40%;
  margin: 0 auto;
  padding: 1em 6em;
  margin-bottom: 1em;
}

button.down {
  background-color: darkred;
  color: white;
  padding: 1em 6em;
}

button.add-bot {
  background-color: lime;
  color: black;
  padding: 1em 6em;
  margin: 3em 0em;
}

button.show-bots {
  width: 15em;
  padding: 10px 10px;
  background-color: purple;
  color: white;
  margin-bottom: 3em;
}

h2.type-something {
  font-size: 3em;
}

input.one {
  width: 40%;
  margin: 0 auto;
  padding: 1em 0em 1em 1em;
  font-size: 2em;
  border: none;
  border-radius: 5px;
}

input.two {
  width: 40%;
  margin: 0em auto 1em auto;
  padding: 10px 0px 10px 10px;
  border: none;
  border-radius: 5px;
}

input.one:focus,
input.two:focus {
  outline: none;
}

hr {
  color: navy;
  width: 100%;
  height: 10px;
  background-color: navy;
  border: none;
  margin: 5em 0em;
}

.Completed {
  color: green;
}

.Running {
  color: yellow;
}

.Stopped {
  color: red;
}

.Pending {
  color: royalblue;
}

h3.pre-footer {
  margin-bottom: 3em;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
#root div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root .form-container {
  margin: 5em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root .form-container .bot_input {
  width: 40em;
  height: 3em;
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

#root .form-container .formDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root .form-container .formDetails .bottomLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em;
}

#root .form-container .formDetails .bottomLine button {
  padding: 1em;
  background-color: forestgreen;
  color: black;
  transition: 0.3s;
}

#root .form-container .formDetails .bottomLine button:hover {
  background-color: gold;
  color: red;
}

#root .form-container .formDetails .bottomLine button:nth-child(2) {
  margin: 0em 1em;
}

#root .form-container .formDetails .select-container .jobStatus {
  width: 20em;
  height: 3em;
  margin-right: 20px;
  padding-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
}

#root .form-container .formDetails .select-container .submitData {
  padding: 1em;
  background-color: pink;
  color: black;
  transition: 0.3s;
}

/* NAVBAR START */
/* NAVBAR START */
/* NAVBAR START */
/* NAVBAR START */
/* NAVBAR START */

#navbar {
  background-color: var(--elegantGrey);
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 10;
}

#navbar a {
  float: left;
  display: block;
  color: var(--JavaScript-yellow);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: var(--normal-black);
}

/* CONTENITORE */

div.contenitore {
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.contenitore .colonna {
  width: calc(100% / 3);
}

div.contenitore .colonna.uno {
  background-color: darkred;
  padding: 1em;
}

div.contenitore .colonna.due {
  background-color: navy;
  padding: 1em;
}

div.contenitore .colonna.tre {
  background-color: green;
  padding: 1em;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

/* FOOTER START */
/* FOOTER START */
/* FOOTER START */
/* FOOTER START */
/* FOOTER START */

footer section {
  min-height: 8em;
  position: relative;
  background-color: var(--elegantGrey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer section .top-footer h3 {
  font-size: 1.3em;
}

/* BECAUSE THE FOOTER CONTAINS A NAVBAR. CHECK NAVBAR FOR CSS */
/* BECAUSE THE FOOTER CONTAINS A NAVBAR. CHECK NAVBAR FOR CSS */

/* MIDDLE FOOTER */

footer section .middle-footer {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTTOM FOOTER */

footer section .bottom-footer span a i {
  font-size: 1.3em;
}

footer section .scroll-top-btn {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  position: absolute;
  bottom: 0;
  left:0;
  margin: 0px auto 10px auto;
}

footer section .scroll-top-btn ul {
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--normal-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* SIGNATURE */

footer section #signature {
  display: flex;
  justify-content: center;
}

footer section #signature ul {
  color: white;
  font-size: 1.8em;
  display: flex;
}

footer section #signature ul li:last-of-type {
  position: relative;
  bottom: 8px;
  color: var(--lime-danny);
  cursor: pointer;
  animation: rotation 4s linear infinite;
}

@keyframes rotation {
  0% {text-shadow: 0 0 purple;}
  25% {text-shadow: 1px 0 var(--medium-purple), 2px 0 var(--medium-purple), 3px 0 var(--medium-purple), 4px 0 var(--medium-purple), 5px 0 var(--medium-purple); }
  50% {text-shadow: 0 0 purple;}
  75% {text-shadow: -1px 0 var(--scottish-blue), -2px 0 var(--scottish-blue), -3px 0 var(--scottish-blue), -4px 0 var(--scottish-blue), -5px 0 var(--scottish-blue); }
  100% {text-shadow: 0 0 gold;}

  from {transform: rotateY(0deg);}
  to {transform: rotateY(-360deg);}
}

footer section .middle-footer ul,
footer section .bottom-footer {
  width:30%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer section .middle-footer ul li,
footer section .bottom-footer span a i {
  border-bottom: 0.5px solid transparent;
  padding-bottom:2px;
  font-size: 1em;
}

footer section .middle-footer ul li:hover,
footer section .bottom-footer span a i:hover {
  color: var(--JavaScript-yellow);
  border-bottom: 0.5px solid var(--normal-white);
  transition: 0.2s;
  
}

/* I PUT THIS HERE TO OVERWRITE PREVIOUS MARGIN DECLARATION */
footer section .top-footer,
footer section .middle-footer,
footer section .bottom-footer {
  margin:1.2em 0em;
}

/* FOOTER END */
/* FOOTER END */
/* FOOTER END */
/* FOOTER END */