:root {
  --normal-black: #000;
  --normal-white: #FFF;
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --scottish-purple: #871F78;
  --scottish-water: #004b84;
  --scottish-loch: #6693b5;
  --scottish-glen: #99b7ce;
  --scottish-sky:#ccdbe6;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --JavaScript-yellow: #F5D733;
  --elegantGrey: #3e3e3e;
  --lightGrey: #4d4d4f;
  --navy-blue: rgb(0, 22, 51);
  --lime-green: rgb(166, 207, 66);
  --midnight-blue: #191970;
  --forest-green: #228B22;
  --whole-foods-green: #00674b;
  --recycling-green: #009900;
  --pine-green: #01796F;
  --cognac-brown: #834333;
  --pine-gold: #dab970;
  --linen-white: #E9DCC9;
  --olive-green: #808000;
  --dark-green: #006400;
  --pizza-red: #D62828;
  --pizza-yellow: #F7C531;
  --pizza-green: #3A5A40;
  --pizza-beige: #F4E1C1;
  --pizza-dark: #2E2E2E;
  --elegant-black: #181818;
  --smart-grey: #eeeae7;
  --smart-white: #eeeeec;
  --wolf-orange: #e06c19;
  --sword-red: #ff0036;
  --footer-grey: #595959;
  --licorice-black: #1B1212;
  --tricsy-grey:#595959;
  --tricsy-gold: #e6c300;
  --tricsy-navy: #133854;
  --tricsy-alabaster: #EDEADE;
  --tricsy-new-century-gold: #866D4B;
}

/* DEFAULT CLASSES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: var(--normal-black);
  color: var(--normal-white);
  position: relative;
}

header,
footer {
  width: 100%;
  background-color: purple;
  color: black;
  padding: 2em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 2em;
}

ul.list-of-jobs {
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul.list-of-jobs li {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

button.up {
  background-color: navy;
  color: darkred;
  width: 40%;
  margin: 0 auto;
  padding: 1em 6em;
  margin-bottom: 1em;
}

button.down {
  background-color: darkred;
  color: white;
  padding: 1em 6em;
}

button.add-bot {
  background-color: lime;
  color: black;
  padding: 1em 6em;
  margin: 3em 0em;
}

button.show-bots {
  width: 15em;
  padding: 10px 10px;
  background-color: purple;
  color: white;
  margin-bottom: 3em;
}

h2 {
  font-size: 3em;
}

input.one {
  width: 40%;
  margin: 0 auto;
  padding: 1em 0em 1em 1em;
  font-size: 2em;
  border: none;
  border-radius: 5px;
}

input.two {
  width: 40%;
  margin: 0em auto 1em auto;
  padding: 10px 0px 10px 10px;
  border: none;
  border-radius: 5px;
}

input.one:focus,
input.two:focus {
  outline: none;
}

hr {
  color: navy;
  width: 100%;
  height: 10px;
  background-color: navy;
  border: none;
  margin: 5em 0em;
}

.Completed {
  color: green;
}

.Running {
  color: yellow;
}

.Stopped {
  color: red;
}

.Pending {
  color: royalblue;
}
